In [32]:
import pandas as pd

In [33]:
check1 = pd.read_csv('checkpoint-100000.csv')

In [34]:
# get the share of pairs pattern-tuple, where among top-5 answers there is a correct one
corrects_ru = check1.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()\
            .apply(lambda x: any(y==x['obj_label'] for y in x['pred_token']), axis=1)
corrects_ru.sum()/corrects_ru.count()

0.00432564330079858

In [35]:
corrects_ru_set = check1.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()[corrects_ru]
corrects_ru_set.groupby(['pattern'])['pred_token'].count().sort_values(ascending=False)

pattern
[Y] - столица [X]            12
[Y], столица [X]              9
[Y] является столицей [X]     6
[X] столица, [Y]              5
столица [X] - [Y]             4
[Y], то есть столица [X]      2
столица [X] [Y]               1
Name: pred_token, dtype: int64

In [36]:
ru_bad = [1, 2, 7, 8, 9, 11, 13, 10]
check1[['pattern_ind', 'pattern']].drop_duplicates()

       pattern_ind                                 pattern
0                0               [Y] является столицей [X]
3220             1                        [X] столица, [Y]
6440             2                         столица [X] [Y]
9660             3                [Y], то есть столица [X]
12880            4                    [Y], это столица [X]
16100            5                        [Y], столица [X]
19320            6                       столица [X] - [Y]
22540            7                        капитал [X], [Y]
25760            8          [X], который имеет столицу [Y]
28980            9               заглавная буква [X] - [Y]
32200           10                       столица [X] - [Y]
35420           11                       капитал [X] - [Y]
38640           12                       [Y] - столица [X]
41860           13  [X], который имеет заглавную букву [Y]

In [37]:
new_corrects_ru_set = corrects_ru_set[~corrects_ru_set['pattern_ind'].isin(ru_bad)]
new_ru = check1[~check1['pattern_ind'].isin(ru_bad)]

In [38]:
new_corrects_ru = new_ru.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()\
            .apply(lambda x: any(y==x['obj_label'] for y in x['pred_token']), axis=1)
new_corrects_ru.sum()/new_corrects_ru.count()

0.008022774327122154

In [24]:
df_new = new_ru.iloc [:, [9,11]]
df_new

                                     masked pred_token
0      [MASK] является столицей Азербайджан       Крым
1      [MASK] является столицей Азербайджан        Это
2      [MASK] является столицей Азербайджан     Россия
3      [MASK] является столицей Азербайджан       Киев
4      [MASK] является столицей Азербайджан    Украина
...                                     ...        ...
41855             [MASK] - столица Фландрия        Это
41856             [MASK] - столица Фландрия      Город
41857             [MASK] - столица Фландрия     Москва
41858             [MASK] - столица Фландрия     Русско
41859             [MASK] - столица Фландрия     Погода

[19320 rows x 2 columns]

In [45]:
# города, которые мы чаще всего угадывали, и доля угаданных случаев, от всех, где этот город является объектом
new_corrects_ru_set.groupby(['obj_label'])['pred_token'].count().reset_index()\
    .merge(new_ru[~new_ru['pattern_ind'].isin(ru_bad)].groupby(['obj_label'])['pred_token'].count().reset_index(), on='obj_label', how='inner')\
    .set_index('obj_label')\
    .apply(lambda x: 1.0*x['pred_token_x']/x['pred_token_y']*5, axis=1).sort_values(ascending=False)

obj_label
Арма               0.833333
Москва             0.666667
Киев               0.500000
Иерусалим          0.458333
Сантьяго           0.333333
Порту              0.333333
Брест              0.333333
Одесса             0.333333
Майами             0.333333
Тегеран            0.277778
Милан              0.277778
Алжир              0.222222
Мюнхен             0.222222
Триполи            0.208333
Константина        0.166667
Константинополь    0.166667
Багдад             0.166667
Сага               0.166667
Рим                0.166667
Казань             0.166667
Остин              0.166667
Минск              0.166667
Глазго             0.166667
Лиссабон           0.111111
Анкара             0.111111
Кабул              0.095238
Париж              0.083333
Прага              0.083333
Львов              0.083333
Линкольн           0.083333
Будапешт           0.066667
Токио              0.055556
Берлин             0.041667
Баку               0.041667
Брюссель           0.023810
dtype: float64

In [48]:
check2 = pd.read_csv('checkpoint-1000000.csv')

In [49]:
corrects_ru = check2.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()\
            .apply(lambda x: any(y==x['obj_label'] for y in x['pred_token']), axis=1)
corrects_ru.sum()/corrects_ru.count()

0.017413487133984027

In [50]:
corrects_ru_set = check2.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()[corrects_ru]
corrects_ru_set.groupby(['pattern'])['pred_token'].count().sort_values(ascending=False)

pattern
[Y] - столица [X]            50
[Y] является столицей [X]    35
[Y], столица [X]             29
[Y], это столица [X]         24
[Y], то есть столица [X]     17
[X] столица, [Y]              2
Name: pred_token, dtype: int64

In [51]:
ru_bad = [1, 2, 7, 8, 9, 11, 13, 10]
check2[['pattern_ind', 'pattern']].drop_duplicates()

       pattern_ind                                 pattern
0                0               [Y] является столицей [X]
3220             1                        [X] столица, [Y]
6440             2                         столица [X] [Y]
9660             3                [Y], то есть столица [X]
12880            4                    [Y], это столица [X]
16100            5                        [Y], столица [X]
19320            6                       столица [X] - [Y]
22540            7                        капитал [X], [Y]
25760            8          [X], который имеет столицу [Y]
28980            9               заглавная буква [X] - [Y]
32200           10                       столица [X] - [Y]
35420           11                       капитал [X] - [Y]
38640           12                       [Y] - столица [X]
41860           13  [X], который имеет заглавную букву [Y]

In [52]:
new_corrects_ru_set = corrects_ru_set[~corrects_ru_set['pattern_ind'].isin(ru_bad)]
new_ru = check2[~check2['pattern_ind'].isin(ru_bad)]

In [53]:
new_corrects_ru = new_ru.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()\
            .apply(lambda x: any(y==x['obj_label'] for y in x['pred_token']), axis=1)
new_corrects_ru.sum()/new_corrects_ru.count()

0.04011387163561077

In [58]:
df_new = new_ru.iloc [:, [9,11,6]]
df_new

                                     masked   pred_token obj_label
0      [MASK] является столицей Азербайджан  Азербайджан      Баку
1      [MASK] является столицей Азербайджан      Армения      Баку
2      [MASK] является столицей Азербайджан         Иран      Баку
3      [MASK] является столицей Азербайджан  Жириновский      Баку
4      [MASK] является столицей Азербайджан         ЛДПР      Баку
...                                     ...          ...       ...
41855             [MASK] - столица Фландрия      Франция  Брюссель
41856             [MASK] - столица Фландрия      Испания  Брюссель
41857             [MASK] - столица Фландрия          Это  Брюссель
41858             [MASK] - столица Фландрия            Я  Брюссель
41859             [MASK] - столица Фландрия          Она  Брюссель

[19320 rows x 3 columns]

In [56]:
# города, которые мы чаще всего угадывали, и доля угаданных случаев, от всех, где этот город является объектом
new_corrects_ru_set.groupby(['obj_label'])['pred_token'].count().reset_index().merge(
    new_ru[~new_ru['pattern_ind'].isin(ru_bad)].groupby(['obj_label'])['pred_token'].count().reset_index(),
    on='obj_label', how='inner').set_index('obj_label').apply(lambda x: 1.0 * x['pred_token_x'] / x['pred_token_y'] * 5,
                                                              axis=1).sort_values(ascending=False)

obj_label
Арма               0.833333
Москва             0.666667
Киев               0.500000
Иерусалим          0.458333
Сантьяго           0.333333
Порту              0.333333
Брест              0.333333
Одесса             0.333333
Майами             0.333333
Тегеран            0.277778
Милан              0.277778
Алжир              0.222222
Мюнхен             0.222222
Триполи            0.208333
Константина        0.166667
Константинополь    0.166667
Багдад             0.166667
Сага               0.166667
Рим                0.166667
Казань             0.166667
Остин              0.166667
Минск              0.166667
Глазго             0.166667
Лиссабон           0.111111
Анкара             0.111111
Кабул              0.095238
Париж              0.083333
Прага              0.083333
Львов              0.083333
Линкольн           0.083333
Будапешт           0.066667
Токио              0.055556
Берлин             0.041667
Баку               0.041667
Брюссель           0.023810
dtype: float64

In [57]:
new_corrects_ru = new_ru.groupby(['pattern_ind', 'tuple_ind', 'pattern', 'sub_label', 'obj_label'])['pred_token'].apply(list).reset_index()\
            .apply(lambda x: any(y==x['obj_label'] for y in x['pred_token']), axis=1)
new_corrects_ru.sum()/new_corrects_ru.count()

0.04011387163561077

In [ ]:
# города, которые мы чаще всего угадывали, и доля угаданных случаев, от всех, где этот город является объектом
new_corrects_ru_set.groupby(['obj_label'])['pred_token'].count().reset_index().merge(
    new_ru[~new_ru['pattern_ind'].isin(ru_bad)].groupby(['obj_label'])['pred_token'].count().reset_index(),
    on='obj_label', how='inner').set_index('obj_label').apply(lambda x: 1.0 * x['pred_token_x'] / x['pred_token_y'] * 5,
                                                              axis=1).sort_values(ascending=False)